main form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

main form fieldset {
  border: none;
  margin-bottom: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main form fieldset .inputWrapper {
  background-color: var(--input-bg);
  padding: 1.6rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  gap: 3rem;
}

main form fieldset .inputWrapper input {
  background: none;
  border: none;
  outline: none;

  color: var(--white);
  font-size: 1.6rem;

  width: 100%;
}

main fieldset .inputWrapper input::placeholder {
  color: var(--input-description);
  font-size: 1.6rem;
}

main form fieldset .inputWrapper .subWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

main form fieldset .inputWrapper .passwordVisibilityIcon {
  fill: var(--orange);
  transition: opacity 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

main form fieldset .forgotPassword {
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;
  width: fit-content;

  opacity: 0.8;
  transition: opacity 0.3s ease 0s;
}

main form fieldset .forgotPassword:hover {
  opacity: 1;
}

main form .login {
  display: flex;

  transition: filter 0.3s ease 0s;
}

main form .login a {
  background-color: var(--orange);
  padding-block: 1.4rem;
  border-radius: 0.5rem;
  width: 100%;

  color: var(--white);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

main form .login:hover {
  filter: brightness(1.15);
}

main form .register {
  margin-top: 1.5rem;

  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

main form .register a {
  color: var(--orange);

  cursor: pointer;

  opacity: 0.8;
  transition: opacity 0.3s ease 0s;
}

main form .register a:hover {
  opacity: 1;
}

main .otherLoginOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  margin-top: 6.4rem;
  width: 100%;
}

main .otherLoginOptions a {
  background-color: #3f445a;
  width: 7rem;
  height: 5rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.3s ease 0s;
}

main .otherLoginOptions a:hover {
  background-color: var(--orange);
  fill: #fff;
}

main .otherLoginOptions a svg path {
  transition: fill 0.3s ease 0s;
}

@media (min-width: 425px) {
  main form {
    width: 38.5rem;
  }
}
