@import url(../layout/global.css);
@import url(./header.css);
@import url(./form.css);

body {
  background-color: var(--gray);
  color: var(--white);
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 7rem 2rem;
  animation: fromLeftToRight 0.8s;
}

hr {
  background-color: #3f445a;
  border: none;
  width: 100%;
  height: 0.1rem;
}

@keyframes fromLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1024px) {
  body {
    background-color: var(--body-bg);
  }

  main {
    justify-content: center;
    flex-direction: row;

    background-color: var(--gray);
    border-radius: 1rem;
    padding: 3rem 6rem;
  }

  hr {
    height: 50rem;
    width: 0.1rem;
  }
}
