main header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;

  text-align: center;
}

main header .logo {
  width: 10rem;
}

main header div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main header h1 {
  font-size: 3rem;
}

main header h2 {
  font-size: 1.6rem;
  color: #a8a8b3;
}

main header button a {
  color: var(--orange);
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 80%;

  display: flex;
  align-items: center;
  gap: 1.6rem;

  transition: opacity 0.3s ease 0s;
}

main header button:hover a svg path,
main header button:hover a {
  fill-opacity: 1;
  opacity: 1;
}

@media (min-width: 425px) {
  main header {
    width: 38.5rem;
  }
}

@media (min-width: 1024px) {
  main header .logo {
    width: 20rem;
  }
}
