@import url(../layout/global.css);

main {
  padding: 0;
  margin-block: 7rem;
  padding: 2.4rem 1.6rem;
  background-color: var(--white);
}

main header h1 {
  border-bottom: 0.3rem solid var(--orange);
  padding-bottom: 1rem;
}

main table {
  border-collapse: collapse;
}

main table th,
main table td {
  padding: 0.8rem;
  /* border: 0.1rem solid var(--gray); */
}

main table tr:nth-child(even) {
  background-color: #ddd;
}

main .total p span {
  font-weight: 700;
  font-size: 1.8rem;
}

main .payment {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

main .payment header::before {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--orange);
  margin: auto;
  margin-bottom: 1rem;
}

main .payment header {
  font-size: 1.8rem;
}

main .payment select {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
}

main button {
  background-color: var(--orange);
  border-radius: 0.5rem;
  padding: 1.2rem;
  width: 100%;

  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;

  transition: filter 0.3s ease 0s;
}

main button:hover {
  filter: brightness(1.15);
}

@media (min-width: 42.5rem) {
  main {
    width: 42.5rem;
    margin-inline: auto;
    border-radius: 1rem;
  }
}
